# Semana 28
Crear un archivo `pandas_series.ipynb` con al menos **5 ejemplos propios de Series**.

In [12]:
import pandas as pd
import numpy as np
import random

In [6]:
#Serie 1 Veterinaria
clinica = pd.Series (["Bigotes", "Firulais", "Doradito"], index=["Gato","Perro", "Pez"])
clinica

Gato      Bigotes
Perro    Firulais
Pez      Doradito
dtype: object

In [9]:
#Serie 2 Cuentas de bancos
Cuentas = pd.Series ([25039453, 192291, 458206, 132742,0], index=["Cuenta A","Cuenta B", "Cuenta C", "Cuenta D", "Cuenta E"])
Cuentas

Cuenta A    25039453
Cuenta B      192291
Cuenta C      458206
Cuenta D      132742
Cuenta E           0
dtype: int64

In [19]:
#Series 3 las serie con listas separadas
lista_1 = np.random.randint(0,100, size=10)
lista_2 = ["Valor 1","Valor 2","Valor 3","Valor 4","Valor 5","Valor 6","Valor 7","Valor 8","Valor 9","Valor 10"]
relacion = pd.Series (lista_1, index = lista_2)
relacion

Valor 1     68
Valor 2     15
Valor 3     63
Valor 4     90
Valor 5     61
Valor 6     24
Valor 7      4
Valor 8     65
Valor 9     41
Valor 10    78
dtype: int64

In [24]:
#Series 4 Crear serie hibrida
serie_hibrida = pd.Series (["Hola", "Mundo", "Tardis", "Doctor", "Animalogo", "Perro banana", "telefono", "garrafonsito", "contacto", "Natalia Quintana"]
                           , index = lista_2)
serie_hibrida

Valor 1                 Hola
Valor 2                Mundo
Valor 3               Tardis
Valor 4               Doctor
Valor 5            Animalogo
Valor 6         Perro banana
Valor 7             telefono
Valor 8         garrafonsito
Valor 9             contacto
Valor 10    Natalia Quintana
dtype: object

In [31]:
#Serie 5 con listas comprehesion
lista_compresion = [i for i in range(0,10)]
lista_aleatoria = np.random.randn (10)

serie_relacion = pd.Series (lista_aleatoria, index = lista_compresion)
serie_relacion

0   -0.521825
1   -1.277349
2    0.463826
3   -0.882666
4    0.614292
5    2.265394
6   -0.827254
7    1.192130
8   -0.176662
9   -0.096115
dtype: float64