## ðŸ“Œ Tarea
Crea un notebook llamado **`tipos_datos.ipynb`** con al menos 3 ejemplos de conversiones y comentarios explicando cada paso.

Ejemplo de comentario:
```python
texto_num = "50"
numero = int(texto_num)  # Convertimos el string "50" a nÃºmero entero
```

In [4]:
#Ejemplo 1 pasar de flotante a string

num =76.51 #Num vale 76.51 y es de tipo flotante
num = str(num) #Conversion de flotante (76.51) a una cadena
print (num, type(num)) #Impresion del tipo de dato

76.51 <class 'str'>

In [7]:
#Ejemplo 2 pasar de booleano a string

valor_1 =5 #asignacion de 5 a valor1 
valor_2=valor_1 #asignamos a valor 2 lo que tiene en valor1
booleano=(valor_1==valor_2) #en la variable booleano asignamos el valor booleano que resulta de comparar valor1 con valor2
booleano=str(booleano) #convertimos el valor booleano (True or False) como cadena
print (booleano, type(booleano))

True <class 'str'>

In [11]:
#Ejemplo 3 pasar de booleano y luego a int

juan= "Mi caballo es blanco" #Guardamos una cadena en juan
jose= "Mi caballo es azul" #Guardamos una cadena en jose

valor= (juan==jose) #Guardamos el valor de comparar juan con jose en la variable valor, siendo valor de tipo booleano
valor= int(valor) #Cambiamos el tipo de dato de booleano a entero
print (valor, type(valor)) #Imprimimos el tipo de dato

1 <class 'int'>